<div class="content-container">
    <div class="content-element"> <!--This is a single post of an item-->
        <div class="content-element-img-wrapper">
            <div>
                <img src="../../assets/media/placeholders/PRS.png">
            </div> <!--Here I have displaced the image as a separate wrapper-->
            
        </div>
        <div class="content-element-info">
                
            <!--In this div I give the info about the product and the option to like and comment-->
            <div class="content-element-info-desc">
                <div class="title-container">
                    <h3>
                        PRS SE 24 CUSTOM
                    </h3>
                </div>
            </div>
            <div class="content-element-info-category">
                Guitars
            </div>
            <div class="content-element-info-price">
                <div class="price-container">
                    <div class="price-container-img">
                        <img src="">
                    </div>
                    <div class="price-container-value">
                       <strong>800.00$</strong> 
                    </div>
                </div>
            </div>
            <div class="content-element-info-reviews">
                <div class="reviews-container">
                    <div class="reviews-container-img">
                    </div>
                    <div class="reviews-container-content">
                    </div>
                </div>
            </div>
            <div class="content-element-info-views">
                <div class="comments-likes-container">
                    <div class="likes-container">
                        <div class="likes-img">
                            <img src="./likes-button.png">
                        </div>
                        <div class="likes-count">
                           
                        </div>
                        <div class="likes-like">
                            <button class="likes-like-button" onclick="addLike()">
                                Like
                            </button>
                        </div>
                    </div>
                    <div class="comments-container"> <!--Sekoj comments-container ima 4 children-->
                        <div class="comments-img">
                            <img src="./comments-alt-button.png">
                        </div>
                        <div class="comments-count">
                            
                        </div>
                        <div class="comments-open">
                            <button id="comments-open-button">
                                Open Comments
                            </button>
                            <div class="comments-open-show">
                                <!--Tuka ke generiram od js za da mi izleguvaat kometarite vo div-->
                                <!--Mozno e ova da treba nadvor od containerot,najverojatno-->
                            </div>
                        </div>
                    </div>
                    <div class="comments-input">
                            <input type="text" placeholder="Comment" id="comments-input">
                            <!--Tuka vo js ke zemam i ke napravam id da se zgolemuva vo nekoj counter za da zemam predvid
                            razlicen podatok na seko input-->
                    </div>
                </div>
            </div>
            <div class="dateAdded">
                <div><h3>Added On:</h3></div>
                <div>18.11.2023</div>
            </div>
        </div>
    
