<div class="listing-card">
    <div class="listing-card-left">
        <img src="../../assets/media/placeholders/PRS.png">
    </div>
    <div class="listing-card-center">
        <span><h2>{{listing.title}}</h2></span>
        <span><strong>Price: </strong>{{listing.price}}</span>
        <span><strong>Added On:</strong>  {{listing.dateAdded}}</span>
        
    </div>
    <div class="listing-card-right">
        <span><strong>Description:</strong></span>
        <div>{{listing.description}}</div>
        <span><button>View Listing</button></span>

    </div>

</div>