
<video autoplay muted loop id="myVideo">
    <source src="../../assets/media/The Dark Attack on Village (Flipaclip animation).mp4" type="video/mp4">
</video>
  
    <div class="login-container">
        <img src="../../assets/media/oglasko-logos/Oglasko-logos_white.png">
        <form method="get" action="http://localhost:4200/home">
            <div class="username">
                <input type="email" maxlength="30" placeholder="Username">
            </div>
            <div class="password">
                <input  type="password" maxlength="64" placeholder="Password">
            </div>
            <div class="buttons">
                <button type="submit">Log In</button>
                <button>Sign Up</button>
            </div>
            
        </form>
    </div>

