<app-navigation [route]="'market'" [cartCount]="count"></app-navigation>
<div class="sidebar-container">
  <div class="sidebar-block"></div>
</div>

<!-- FILTERS -->
<div class="search-container">
    <input id="search-bar"
      type="text"
      placeholder="Search"
      (input)="onSearchChange()"
      [(ngModel)]="searchQuery"
    />
</div>
<div class="filter-container">
  

  <div class="filter-element">
    <p>Sort By:</p>
  </div>
  <div class="filter-element">
    <select
      class="filter-element-select"
      (change)="onPriceFilterChange($event)"
    >
      <option disabled selected value>-- Select An Option --</option>
      <option value="priceAsc">Price => Ascending</option>
      <option value="priceDsc">Price => Descending</option>
      <option value="dateNewest">Date => Newest</option>
      <option value="dateOldest">Date => Oldest</option>
    </select>
  </div>
  <div class="filter-element">
    <p>Category:</p>
  </div>
  <div class="filter-element">
    <select
      class="filter-element-select-category"
      (change)="onCategoryChange($event)"
    >
      <option disabled selected value>-- Select An Option --</option>
      <option *ngFor="let cat of categories" [value]="cat.title">
        {{cat.title}}
      </option>
    </select>

  </div>
  <div class="filter-element">
    <p>Subcategory:</p>
  </div>
  <div class="filter-element">
    <select class="filter-element-select-category" [(ngModel)]="selectedSubcategory" (change)="onSubcategoryChange($event)">
      <option disabled selected value>-- Select An Option --</option>
      <option *ngFor="let subcat of getSubcategories(selectedCategory)" [value]="subcat">{{ subcat }}</option>
    </select>
  </div>
  <div class="filter-element">
    <button id="add-listing">
      Add Listing
    </button>
  </div>
  
</div>


<div class="listing-container" *ngFor="let list of filteredListings">
    <app-listing [listing]="list" (countEvent)="recieveValue($event)"></app-listing>
</div>
