<app-navigation></app-navigation>
<!---CONTACT FORM----------------------------------------------------------------------------------------->
        <div class="form-container">
            <form method="get" action="/market/index.html">
                <div class="form-element">
                    <div class="info-label"><h2>Contact Information:</h2></div> 
                    <div class="contact-info">
                            <span class="info"><h4>Address:</h4><p>Prashka, 1000 Skopje</p> </span>
                            <span class="info"><h4>Telephone:</h4><p>075xxxxxx</p></span>
                            <span class="info"><h4>Fax:</h4><p>02xxxxxxx</p></span> 
                            <span class="info"><h4>E-mail:</h4><p>contactoglasko.market</p></span>
                    
                    </div>
                </div>
                <div class="form-element">
                    <h4>Contact us:</h4>
                </div>
                <div class="form-element">
                    <input type="text" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-element">
                    <input type="email" id="email" name="email" placeholder="E-mail:">
                </div>
                <div class="form-element">
                    <textarea placeholder="Message"></textarea>
                </div>
                <div class="form-element"><button type="submit">Send</button></div>
            </form>
            <div class="gibberish"></div>
        </div>
       
        <div class="form-photo">
            <div class="qr-code">
                <img src="../../assets/media/oglasko-logos/Contact Information-2.png">
            </div>
            <div>
                <img src="../../assets/media/oglasko-logos/noun-ecommerce-1271154.png">
            </div>
            
        </div>



        <!--FOOTER----------------------------------------------------------------------------------->
        <footer>
            <div class="footer-container">
                <div class="footer-element">
                    
                    <p>copyright&copy davidandko</p>
                </div>
            </div>
        </footer>

