<header>
    <nav>
        <div class="nav-container">
            <div class="nav-logo">
                        <img src="../../assets/media/oglasko-logos/Oglasko-logos_transparent.png">
            </div>
            <div class="nav-element">
                <a routerLink="/home" >
                        <span>Home</span>
                </a>
            </div>
                
            <div class="nav-element">
                <a routerLink="/market">
                        <span>Market</span>
                </a>
            </div>                        
            <div class="nav-element">
                <a routerLink="/contact">
                    
                    <span>Contact</span>
                </a>
            </div>
            <div class="nav-element">
                <button id="open-cart-button">
                    <span>Open Cart</span>
                </button>
            </div>
        </div>    
    </nav> 
</header>