<header>
  <nav>
    <div class="nav-container">

      <div class="nav-logo">
        <img
          src="../../assets/media/oglasko-logos/Oglasko-logos_transparent.png"
        />
        <a routerLink="market"></a>
      </div>

      <div>
        <a routerLink="/home" class="nav-element">
          Home
        </a>
      </div>

      <div>
        <a routerLink="/market" class="nav-element">
          Market
        </a>
      </div>

      <div>
        <a routerLink="/contact" class="nav-element">
          Contact
        </a>
      </div>
      
      <div>
        <a routerLink="/cart" class="nav-element">Open Cart </a>
        <div class="cart-count" *ngIf="route == 'market'">{{cartCount}}</div>
      </div>
      
    </div>
  </nav>
</header>
